@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.pfp{
    width: 30%;
}
.merch-icon{
    width: 100%;
}
.profile{
    margin: 0 250px;
    transform: translateY(150px);
}
h3{
    font-family: 'Poppins',sans-serif;
    margin: 10px;
    padding: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 2px;
}
.sidebar{
    margin: 0;
    position: fixed;
    background-color: #ff652f;
    color: white;
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar-header{
    display: flex;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    gap: 10px;
    font-size: 20px;
}
body{
    font-family: 'Montserrat',sans-serif;
}
a{
    text-decoration: none;
    font-size: 18px;
}
li{
    list-style-type: none;
}
.info{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap:5px;
    background-color: #ffa500;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}
label:not(.add-product label){
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    text-decoration: overline;
}
span{
    position: absolute;
    left: 15%;
    top:70%;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: overline;
}
.product{
    position: absolute;
    left: 15%;
    top:70%;
    margin-top: 40px;
}
.add-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.styled-table {
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.product-image{
    width: 200px;
}
.styled-table thead tr {
    font-family: 'Poppins',sans-serif;
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table td{
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}